body {
    width: 90%;
    margin-top: 50px;
    background-color: rgb(165, 201, 97);
    margin: auto;
    border: 5px;
    border-color: black;
    border-radius: 15px;
    padding: 5px;
}

p {
    font-size: 20px;
    font: normal;
    color: black;
}

i {
    color: black;
}

h1 {
    font-size: 40px
}

html {
    background-color: rgba(165, 201, 97, 0.546);
    border-radius: 25px;
}

section:nth-child(even) {
    background-color: rgb(122, 168, 34);
    padding: 20px;
    
}

section:nth-child(odd) {
    padding: 20px;
}

