header {
    background-image: url("../images/climate\ change\ background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.top {
    padding: 20px;
    color: rgb(0, 0, 0);
}